<!--<div>
  Enter the Id that you are looking for: <input #id type="number" />
</div>
<div>
  <button (click)="selectCarById(id.value)">Retrieve</button>
</div>
<br />
<div *ngIf="searchById != null">
  <app-content-card searchById [carModels]="car" class="selectedById"></app-content-card>
</div>

-->
<!--<app-content-card car [carModels]="car" class="selectedById"></app-content-card>
<br />-->
<app-messages></app-messages>
<br />

<a routerLink="content" routerLinkActive="active"
   [routerLinkActiveOptions]="{ exact: true }">
  Content List
</a>
<br />

<a href="https://github.com/Walsaub/W_AlSaub_MAD400Assignments_MyFavouriteCars">
  My repository on github
</a>

<br />
<router-outlet></router-outlet>

