<h1 class="title">{{ carModels ? carModels.title: '' }}</h1>
<div *ngIf="carModels ? carModels.imgURL : null" class="car-image" ><img [src]="carModels ? carModels.imgURL : ''" style="width:100%"></div>
<div class="description"> Description: {{ carModels ? carModels.description : '' }}</div>
<div class="creator"> Make: {{ carModels ? carModels.creator: '' }}</div>
<div *ngIf="carModels ? carModels.type : null" class="type"> Class: {{ carModels ? carModels.type: '' }}</div>
<div *ngIf="carModels ? carModels.tags : null" class="tag"> Personal Info: {{ carModels ? carModels.tags: '' }}</div>
