<div>
  ID: <input [(ngModel)]="tempid" type="number">
</div>

<div>
  Title: <input [(ngModel)]="newContent.title" />
</div>
<br />

<div>
  Description: <input [(ngModel)]="newContent.description" />
</div>
<br />

<div>
  Creator: <input [(ngModel)]="newContent.creator" />
</div>
<br />

<div>
  Img url:<input [(ngModel)]="newContent.imgURL" />
</div>
<br />

<div>
  Type: <input [(ngModel)]="newContent.type" />
</div>
<br />

<div>
  Tags: <input [(ngModel)]="temptags" />
</div>
<br />

<div>
  <button (click)="modifyOrAddItemToParent()">{{(tempid !== "") ? "Update Content": "Add Content"}}</button>
</div>
<br />
